{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Clientes da Viagem: {{ viagem.destino }}</h2>

<ul>
  {% for cliente in clientes %}
    <li>
      {{ cliente.nome }} - Nascimento: {{ cliente.data_nascimento|date:"d/m/Y" }} - CPF: {{ cliente.cpf }}
    </li>
  {% empty %}
    <li>Nenhum cliente cadastrado para essa viagem.</li>
  {% endfor %}
</ul>

<a href="{% url 'viagens:lista_viagens' %}" class="btn btn-secondary">Voltar para Lista de Viagens</a>
{% endblock %}
