{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>

{% include 'partials/busca.html' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de Nasc.</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        <a href="{% url 'clientes:cliente_viagens' cliente.id %}" class="btn btn-sm btn-info">Ver Viagens</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Nenhum cliente encontrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'clientes:cadastro_cliente' %}" class="btn btn-primary">Novo Cliente</a>
<a href="{% url 'clientes:lista_clientes' %}" class="btn btn-secondary mt-3">Voltar para Lista de Clientes</a>
{% endblock %}
